@import 'base-theme.css';

$font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;

$orange: #f05a22;
$red: #c9400e;
$green: #13d330;
$white: #fff;
$black: #000;

$primary: var(--primary-color);
$primary-darken: #e2521c;
$primary-lighten: #f69470;
$primary-lighten-2: rgb(240 90 34 / 12%);

$error: $orange;

$border: #e0e0e0;
$border-active: #333;
$border-darken: #b3b3b3;
$borer-lighten: #e0e0e0;

$opts-borders: 1px solid $border;

$main: #fafafa;
$main-darken: #f2f1f1;
$main-darken-2: #ebebeb;
$main-darken-hover: #e2e2e2;

$separ: $white;

$text: #333;
$text-hover: #7e7e7e;

$text-lighten: #747474;

$text-pale: #e0e0e0;

$text-pale2: #bdbdbd; // more readable version

$hover-background: #f2f2f2;
$hover-background2: #fac87863; // used inside tables

$content-padding-x: 30px;

$modal-z-index: 55; // used by modals and popups

$modal-header-height: 50px;
$modal-footer-height: 57px;

// fmBasicTable
$basic-table-border: 1px solid $border;

// legacy

$borderPale: #e0e0e0;
$btnHover: #fdece5;

$paleOrange: rgba(240, 90, 34, 0.1);
$gray: #747474;
$labelInstrumentPan: #fff7e1;
$checkboxColor: rgba(255, 64, 129, 0.87);

$borderPale: #e0e0e0;
$borderGray: #b3b3b3;
$whiteBackground: rgb(250, 250, 250);
$grayIcon: #a1a1a1;

$btnHover: #fdece5;
$optionHoverColor: rgba(158, 158, 158, 0.2);

$leftSidenavWidth: 160px;
$collapsedLeftSidenavWidth: 65px;

$gRowHeight: 36px;
$gCellBorderColor: #dbdbdb;
$gCellBorder: 1px solid $gCellBorderColor;

// after changing gPopupMenuOptionHeight, also modify methods that calculate popup position in rv-dom.manager.js
$gPopupMenuOptionHeight: 48px;

$gRvRowSettingsWidth: 88px;
