/* Default to light mode */
body.light-theme {
	/* Light mode variables */
	--primary-color: #8F4C36;
	--onPrimary-color: #FFFFFF;

	--secondary-color: #53433F;
	--onSecondary-color: #FFDBD0;

	--baseText-color: #231917; /* default color for every text in finmars figma_keyword=surface */
	--baseHeading-color: #53433F; /* h1-h6 */
	--base-backgroundColor: #FFFFFF; /* body, page */

	--container-backgroundColor: #F7E4DF; /* NEW */
	/* dropdowns, menu */
	--tableHeader-backgroundColor: #FFF1ED; /* NEW */
	/* table-header */

	--activeState-backgroundColor: #FFDBD0; /* NEW */
	--activeState-color: #2C160E;

	--border-color: #85736E; /* NEW */
	/* button borders, segments, inputs, dividers figma_keyword=outline  */
	--light-borderColor: #D8C2BC; /* NEW */
	/* cards, tables, */
	--base-border: 1px solid var(--border-color);

	--hover-opacity: 0.92; /* NEW */
	--focus-opacity: 0.88; /* NEW */
	--disabled-opacity: 0.88; /* NEW */

	--success-color: #F4E2A7; /* NEW */
	--error-color: #BA1A1A; /* NEW */


	/* region Temporary variables. Will be deleted or changed after conversation about variables ends.*/
	--card-border-color: #85736E;
	--card-background-color: #FFF1ED;

	--dialog-background-color: #F7E4DF;
	--dropdown-background-color: #FCEAE5;

	--table-border-color: #F1DFDA;

	--shadow-color: hsla(0, 0%, 40%, 0.25);
	--primary-hover: rgb(152, 90, 70);
	--secondary-hover: #f69470;
	--scrole-color: #85736E;
	/* endregion */

	--sidebar-backgroundColor-hover: rgba(29, 27, 32, 0.08);
	--sidebar-backgroundColor-focus: rgba(29, 27, 32, 0.12);
}

/* Switch to dark mode when .dark-mode class is present on body */
body.dark-theme {
	/* General usage variables*/
	/* --[?special]-[?state]-[styleProperty] */
	/* always kebab-case */
	/* variable [segment] mast be camelCase */
	/* [?segment] is optional */
	/* [?special] - e.g. light, activeState, onPrimary */

	--primary-color: #FFB59D;
	--onPrimary-color: #55200D;

	--secondary-color: #FFDBD0;
	--onSecondary-color: #53433F;

	--baseText-color: #F1DFDA; /* NEW */ /* default color for every text in finmars */
	--baseHeading-color: #D8C2BC; /* NEW */ /* h1-h6 */
	--base-backgroundColor: #1A110F; /* NEW */ /* body, page figma_keyword=surface */

	--container-backgroundColor: #271D1B; /* NEW */ /* dropdowns, menu */
	--activeState-backgroundColor: #5D4036; /* NEW */
	--activeState-color: #FFDBD0; /* NEW */

	--border-color: #A08D87; /* NEW */ /* button borders, segments, inputs, dividers  figma_keyword=outline */
	--light-borderColor: #D8C2BC; /* NEW */ /* cards, tables, figma_keyword=outline */
	--base-border: 1px solid var(--border-color);

	--hover-opacity: 0.92; /* NEW */
	--primary-hover-color: rgba(255, 181, 157, var(--hover-opacity));
	--primary-hover-backgroundColor: rgba(255, 181, 157, var(--hover-opacity));

	--focus-opacity: 0.88; /* NEW */
	--disabled-opacity: 0.88; /* NEW */

	--success-color: #52461A;
	--error-color: #BA1A1A;

	/* Component specific variables */
	/* --[component]-[?type]-[?state]-[styleProperty] */
	/* always kebab-case for pieces of variable */
	/* variable [segment] mast be camelCase */
	/* [?segment] is optional */

	/*--table-body-background-color: transparent; !* NEW *! !* table-body *!*/
	--tableBody-backgroundColor: var(--base-backgroundColor); /* NEW */ /* table-body */


	/* region Temporary variables. Will be deleted or changed after conversation about variables ends. */
	--tableHeader-backgroundColor: #332b2a; /* NEW */ /* table-header */
	--card-border-color: rgba(83, 67, 63, 1);
	--card-background-color: #1A110F;

	--dialog-background-color: #1A110F;
	--dropdown-background-color: #271D1B;

	--table-border-color: #53433F;

	--shadow-color: hsla(0, 0%, 40%, 0.25);
	--primary-hover: rgb(239, 169, 154);
	--secondary-hover: #f69470;
	--scrole-color: #85736E;
	/* endregion */

	--sidebar-backgroundColor-hover: rgba(230, 224, 233, 0.08);
	--sidebar-backgroundColor-focus: rgba(230, 224, 233, 0.12);

}
