:root {
	--onPrimary-color: #FFFFFF;

	--secondary-color: #53433F;
	--onSecondary-color: #FFDBD0;

	--baseHeading-color: #53433F; /* h1-h6 */
	--base-backgroundColor: #FFFFFF; /* body, page */

	--container-backgroundColor: #F7E4DF; /* NEW */ /* dropdowns, menu */
	--tableHeader-backgroundColor: #FFF1ED; /* NEW */ /* table-header */

	--activeState-backgroundColor: #FFDBD0; /* NEW */
	--activeState-color: #2C160E;

	--border-color: #85736E; /* NEW */ /* button borders, segments, inputs, dividers figma_keyword=outline  */
	--light-borderColor: #D8C2BC; /* NEW */ /* cards, tables, */
	--base-border: 1px solid var(--border-color);

	--hover-opacity: 0.92; /* NEW */
	--focus-opacity: 0.88; /* NEW */
	--disabled-opacity: 0.88; /* NEW */

	--success-color: #F4E2A7; /* NEW */
	--error-color: #BA1A1A; /* NEW */
	--card-border-color: #85736E;
	--card-background-color: #FFF1ED;

	--dialog-background-color: #F7E4DF;
	--dropdown-background-color: #FCEAE5;

	--table-border-color: #F1DFDA;

	--shadow-color: hsla(0, 0%, 40%, 0.25);
	--primary-hover: rgb(152, 90, 70);
	--secondary-hover: #f69470;
	--scrole-color: #85736E;
	--outline-background-color: rgba(103, 80, 164, 0.12);
	--state-active-background-color: #FFDBD0;
	--card-secondary-text-color: #1C1B1F;
	--table-header-background-color: rgba(241, 223, 218, .5);

	--primary-color-rgb: 143, 76, 54;
	--primary-color: rgb(var(--primary-color-rgb));

	--baseText-color: rgb(35, 25, 23); /* NEW */ /* default color for every text in finmars figma_keyword=surface */
	--baseText-fontSize: 0.875rem;
	--baseText-fontWeight: 400;
	--baseText-lineHeight: 1.25rem;
	--baseText-letterSpacing: 0.01563rem;
	--baseText-fontFamily: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue";

	--base-heading-color: #53433F; /* NEW */ /* h1-h6 */

	--container-background-color: #F7E4DF; /* NEW */ /* dropdowns, menu */
	--table-header-background-color: #FFF1ED; /* NEW */ /* table-header */

	--active-state-background-color: #FFDBD0; /* NEW */
	--active-state-color: #2C160E; /* NEW */

	--icon-disabled-opacity: 0.38;
	--button-disabled-opacity: var(--disabled-opacity);

	--icon-padding: 0.5rem;
}

body.dark {

	--secondary-color: #FFDBD0;
	--onSecondary-color: #53433F;

	--baseHeading-color: #D8C2BC; /* NEW */ /* h1-h6 */
	--base-backgroundColor: #1A110F; /* NEW */ /* body, page figma_keyword=surface */

	--container-backgroundColor: #271D1B; /* NEW */ /* dropdowns, menu */
	--activeState-backgroundColor: #5D4036; /* NEW */
	--activeState-color: #FFDBD0; /* NEW */

	--border-color: #A08D87; /* NEW */ /* button borders, segments, inputs, dividers  figma_keyword=outline */
	--light-borderColor: #D8C2BC; /* NEW */ /* cards, tables, figma_keyword=outline */
	--base-border: 1px solid var(--border-color);

	--hover-opacity: 0.92; /* NEW */
	--primary-hover-color: rgba(255, 181, 157, var(--hover-opacity));
	--primary-hover-backgroundColor: rgba(255, 181, 157, var(--hover-opacity));

	--focus-opacity: 0.88; /* NEW */

	--success-color: #52461A;
	--tableBody-backgroundColor: var(--base-backgroundColor);


	--card-border-color: rgba(83, 67, 63, 1);
	--card-background-color: #1A110F;

	--dialog-background-color: #1A110F;
	--dropdown-background-color: #271D1B;

	--table-border-color: #53433F;

	--shadow-color: hsla(0, 0%, 40%, 0.25);
	--primary-hover: rgb(239, 169, 154);
	--secondary-hover: #f69470;
	--scrole-color: #85736E;
	--outline-background-color: rgba(208, 188, 255, 0.12);
	--state-active-background-color: #5D4036;
	--card-secondary-text-color: #F1DFDA;
	--table-header-background-color: rgba(230, 224, 233, 0.12);

	--primary-color-rgb: 255, 181, 157;
	--primary-color: rgb(var(--primary-color-rgb));
	--onPrimary-color: rgb(85, 32, 13);
	--base-backgroundColor: rgba(26, 17, 15, 1);
	--baseText-color: rgb(241, 223, 218); /* NEW */ /* default color for every text in finmars */
	--baseBackground-color: #1A110F; /* NEW */ /* body, page figma_keyword=surface */

	--light-border-color: #D8C2BC; /* NEW */ /* cards, tables, figma_keyword=outline */

	--hover-primary-color: rgba(255, 181, 157, var(--hover-opacity));
	--hover-primary-backgroundColor: rgba(255, 181, 157, var(--hover-opacity));

	--disabled-opacity: 0.38; /* NEW */

	--error-color: rgb(186, 26, 26);

	--tableHeader-backgroundColor: #1A110F; /* NEW */ /* table-header */
}
